html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  color: #fff;
  font-family: 'Bevan;
}

nav {
  font-family: sans-serif;
  list-style-type: none;
  text-align: center;
}

nav li {
  display: inline-block;
}

header {
  background-color: #79756f;
  border-bottom: 3px solid #595652;
  border-top: 3px solid #595652;
}

nav a {
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-color: #713837;
  display: inline-block;
  border-radius: 4px;
  padding: .5em .6em .75em;
  margin: .3em;
}

nav a:hover {
  background-color: #f33;
}

body {
  margin: 0;
}
